/* Homepage specific styles */

.boxt {
    background: white;
    border: 2px solid #ccc;
    border-radius: 12px;
    text-align: center;
    align-items: center;
    padding: 20px;
    width: 25%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 20px;
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

h2, p {
    text-align: center;
}
